* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    /*chocolate*/
    --theme-colors: darkcyan;
}

.top_div {
    width: 100%;
    height: 28px;
    background-color: #111111;
}

.right_functional_zone_div {
    float: right;
    height: 28px;
    margin-right: 20px;
}

.right_functional_zone_div input, button {
    height: 20px;
    border: none;
    margin-top: 4px;
}

#right_functional_zone_search_note {
    width: 150px;
}

.top_div_clear_float {
    clear: right;
}



.liChecked {
    background-color: var(--theme-colors);
    color: #ffffaa;
    font-weight: bold;
    font-size: 20px;
}

.liChecked .li_button {
    font-size: 20px;
    color: #ff7800;
    font-weight: bold;
}

.create {
    margin-left: 50px;
}

.opacity_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.7);
    z-index: 9999;
}

#can {
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%; /*偏移*/;
    left: 40%;

}

.li_button {
    float: right;
    margin-right: 20px;
}

.clear_float {
    clear: right;
}

#book_ul, #note_ul, .share_note_div,.edit_div,.share_note_div ul {
    padding: 3px 20px;
}

.ul_dl {
    margin-bottom: 5px;
}

#book_ul, #note_ul, .li_button, .ul_functional_domain button:hover {
    cursor: pointer;
}


